Repository Chantal13/Spectrum-Syntax, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, tumbling-log, assets, theme, plugins, ci

feat(nav): add Games/Rockhounding sections + active-link styling; add section indexes
  _data/navigation.yml
  _includes/nav.html
  _notes/Rockhounding/tumbling/2025-08-21-batch-001.md
  _notes/Rockhounding/tumbling/index.md
  _notes/blog/2025/08/2025-08-21.md
  _notes/blog/2025/08/21/National Geographic Professional Rock Tumbler.jpg
  _notes/blog/Inside My Mind.md
  _pages/games/index.md
  _pages/rockhounding/index.md
  _pages/tumbling/index.md
  _sass/_style.scss
Labels: theme

fix(tumbling): restore index lookup path
  _config.yml
  _includes/tumbles-table.html
  _notes/Rockhounding/tumbling/index.md
  _pages/tumbling/index.md
Labels: none

feat(nav): add breadcrumbs and nested section indexes
  _data/navigation.yml
  _includes/breadcrumbs.html
  _layouts/note.html
  _layouts/page.html
  _pages/games/dark-war-survival/guides/index.md
  _pages/games/dark-war-survival/index.md
  _pages/games/idle-champions/events/index.md
  _pages/games/idle-champions/index.md
  _pages/games/index.md
  _pages/rockhounding/guides/index.md
  _pages/rockhounding/index.md
  _pages/rockhounding/rocks/categories/index.md
  _pages/rockhounding/rocks/index.md
  _pages/rockhounding/rocks/minerals/index.md
  _sass/_style.scss
Labels: theme

feat(nav): add breadcrumbs and nested section indexes
  _data/navigation.yml
  _includes/breadcrumbs.html
  _layouts/note.html
  _layouts/page.html
  _pages/games/dark-war-survival/guides/index.md
  _pages/games/dark-war-survival/index.md
  _pages/games/idle-champions/events/index.md
  _pages/games/idle-champions/index.md
  _pages/games/index.md
  _pages/rockhounding/guides/index.md
  _pages/rockhounding/index.md
  _pages/rockhounding/rocks/categories/index.md
  _pages/rockhounding/rocks/index.md
  _pages/rockhounding/rocks/minerals/index.md
  _sass/_style.scss
Labels: theme

fix: correct regex quoting in asset sanity workflow
  .github/workflows/asset-sanity.yml
Labels: ci

chore: run shellcheck on asset sanity scripts
  .github/workflows/asset-sanity.yml
Labels: ci

Rename rock category directory and add igneous permalink
  _notes/Rockhounding/Rocks/category/igneous.md
  _notes/Rockhounding/Rocks/category/metamorphic.md
  _notes/Rockhounding/Rocks/category/sedimentary.md
Labels: none

Add recursive navigation with nested styling
  _data/navigation.yml
  _includes/nav.html
  _sass/_style.scss
Labels: theme

chore: lowercase rockhounding paths
  _config.yml
  _includes/tumbles-table.html
  _notes/rockhounding/guides/Books.md
  _notes/rockhounding/guides/Conglomerate vs Breccia.md
  _notes/rockhounding/guides/Mohs Hardness Scale.md
  _notes/rockhounding/guides/Rock Tumbling.md
  _notes/rockhounding/guides/Rockhounding 101.md
  _notes/rockhounding/guides/Rockhounding Resources.md
  _notes/rockhounding/guides/Rocks and Minerals.md
  _notes/rockhounding/rockhounding.md
  _notes/rockhounding/rocks/Breccia.md
  _notes/rockhounding/rocks/Granite.md
  _notes/rockhounding/rocks/categories/igneous.md
  _notes/rockhounding/rocks/categories/metamorphic.md
  _notes/rockhounding/rocks/categories/sedimentary.md
  _notes/rockhounding/rocks/conglomerate.md
  _notes/rockhounding/rocks/gneiss.md
  _notes/rockhounding/rocks/limestone.md
  _notes/rockhounding/rocks/minerals/Epidote.md
  _notes/rockhounding/rocks/minerals/Feldspar.md
  _notes/rockhounding/rocks/minerals/agate.md
  _notes/rockhounding/rocks/minerals/garnet.md
  _notes/rockhounding/rocks/minerals/jasper.md
  _notes/rockhounding/rocks/minerals/quartz.md
  _notes/rockhounding/rocks/unakite.md
  _notes/rockhounding/tumbling/2025-08-21-batch-001.md
  _notes/rockhounding/tumbling/index.md
  _pages/index.md
Labels: none

Add rock category index and navigation
  _data/navigation.yml
  _notes/rockhounding/rocks/category/index.md
Labels: none

Add rock card component and apply grid layout
  _includes/rock-card.html
  _notes/rockhounding/guides/Rocks and Minerals.md
  _sass/_style.scss
Labels: theme

Normalize rockhounding paths
  _data/navigation.yml
  _notes/rockhounding/rocks/breccia.md
  _notes/rockhounding/rocks/category/igneous.md
  _notes/rockhounding/rocks/category/metamorphic.md
  _notes/rockhounding/rocks/category/sedimentary.md
  _notes/rockhounding/rocks/granite.md
  _notes/rockhounding/rocks/minerals/epidote.md
  _notes/rockhounding/rocks/minerals/feldspar.md
Labels: none

Fix case-alias duplicates: remove uppercase index entries for rock categories (igneous/metamorphic/sedimentary) to avoid add/alias errors on macOS
  _notes/Rockhounding/Rocks/category/igneous.md
  _notes/Rockhounding/Rocks/category/metamorphic.md
  _notes/Rockhounding/Rocks/category/sedimentary.md
Labels: none

Ignore AppleDouble (._*) and Windows Thumbs.db
  .gitignore
Labels: none

Update settings.json
  .vscode/settings.json
Labels: none

Disable OpenAI API streaming.
  .vscode/settings.json
Labels: none

Open AI stuff
  .vscode/settings.json
Labels: none

Please go away, OpenAI streaming.
  .vscode/settings.json
Labels: none

Remove proxies
  .vscode/settings.json
Labels: none

Fix Liquid syntax in rocks index: avoid '== false' in where_exp; filter with 'unless' instead
  _pages/rockhounding/rocks/index.md
Labels: none

Add pre-push hook and summary script to print Markdown summary of changes; write to .git/last_push_summary.md
  .githooks/pre-push
  scripts/changes_summary.sh
Labels: none

CI: Comment PR with changes summary (commits + files) and update on new pushes
  .github/workflows/pr-summary.yml
Labels: ci

CI: Add push workflow to publish a ‘Change Summary’ check run on each push (commits + files)
  .github/workflows/push-summary.yml
Labels: ci

Docs: Document local pre-push summary + CI summaries; reference Change Summary check and PR comment in template
  .github/pull_request_template.md
  README.md
Labels: docs

Remove old nav
  _data/navigation.yml
  _includes/nav.html
  _layouts/default.html
  _sass/_style.scss
Labels: theme

Nav
  README.md
  _includes/link-previews.html
  _includes/notes_graph.html
  _includes/tumbles-table.html
  _layouts/default.html
  _layouts/tumble.html
  _notes/rockhounding/guides/Rock Tumbling.md
  _notes/rockhounding/guides/Rocks and Minerals.md
  _notes/rockhounding/rockhounding-overview.md
  _notes/rockhounding/tumbling/index.md
  _pages/index.md
  _pages/rockhounding/resources/books.md
  _sass/_style.scss
  netlify.toml
Labels: docs, theme

Spaces
  _includes/breadcrumbs.html
  _plugins/url_decode_filter.rb
Labels: plugins

fix_internal_links
  _includes/tumbles-table.html
  _pages/games/dark-war-survival/index.md
  _pages/games/idle-champions/index.md
  _pages/rockhounding/guides/index.md
  _pages/rockhounding/rocks/index.md
  _pages/rockhounding/rocks/minerals/index.md
  _plugins/fix_internal_links.rb
Labels: plugins

Title Case
  _includes/breadcrumbs.html
  _plugins/fix_internal_links.rb
  _plugins/title_case_filter.rb
Labels: plugins

Breadcrumbs separator:
  _includes/breadcrumbs.html
  _pages/blog/index.md
  _pages/index.md
  styles.scss
Labels: none

Breadcrumbs
  _includes/breadcrumbs.html
  styles.scss
Labels: none

Internal hrefs: ensure relative_url | uri_escape
  README.md
  _includes/breadcrumbs.html
  _includes/footer.html
  _includes/rock-card.html
  _layouts/note.html
  scripts/check_site_links.py
  scripts/trigger_netlify_deploy.sh
Labels: docs, theme

Updated the graph background to be lighter than the page background for better node contrast.
  _sass/_style.scss
Labels: theme

feat(graph): add polished card UI and improve contrast
  _includes/notes_graph.html
  _sass/_style.scss
Labels: theme

docs: add CHANGELOG entry for graph UI, palette, and contrast improvements (2025-09-02)
  CHANGELOG.md
Labels: none

docs(changelog): adopt Keep a Changelog format; add v0.2.0 entry
  CHANGELOG.md
Labels: none

ci(release): auto-create GitHub releases on v* tags using Keep a Changelog section
  .github/workflows/release.yml
Labels: ci

favicon stuffs
  assets/favicon/Spectrum Syntax - Fav Icon.png
  assets/favicon/android-chrome-192x192.png
  assets/favicon/android-chrome-512x512.png
  assets/favicon/apple-touch-icon.png
  assets/favicon/favicon-16x16.png
  assets/favicon/favicon-32x32.png
  assets/favicon/favicon.ico
Labels: none

feat(graph): increase colour variation by generating tints/shades from base palette (21 colours total)
  _includes/notes_graph.html
Labels: none

feat(graph): vary link colours by blending source/target node colours (with slight lighten)
  _includes/notes_graph.html
Labels: none

.github/labeler.yml:

docs:
  - '.bundle/CONTRIBUTING.md'
  - 'README.md'

tumbling-log:
  - '_tumble_logs/**'

assets:
  - 'assets/tumbling/**'

theme:
  - '_layouts/**'
  - '_sass/**'

plugins:
  - '_plugins/**'

ci:
  - '.github/workflows/**'
