Repository Chantal13/Spectrum-Syntax, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, tumbling-log, assets, theme, plugins, ci

Refactor color palette to earthy tones and update link hover styles for improved aesthetics
  _sass/_style.scss
Labels: theme

Refactor status colors to earthy palette for improved visual consistency
  _notes/tumbling/index.md
  _sass/_style.scss
Labels: theme

Enhance layout and styles for tumbling sections with earthy palette adjustments for improved aesthetics
  _layouts/tumble.html
  _notes/tumbling/index.md
  _sass/_style.scss
Labels: theme

Update body background color to a specific earthy tone for improved aesthetics
  _sass/_style.scss
Labels: theme

Refactor styles to utilize CSS variables for improved maintainability and consistency across components
  _layouts/tumble.html
  _notes/tumbling/index.md
  _sass/_style.scss
Labels: theme

Update background color variable for higher contrast and improved accessibility
  _sass/_style.scss
Labels: theme

Update background colour variables for improved contrast and consistency in table headers
  _sass/_style.scss
Labels: theme

Refactor styles to use CSS variables for background colors, enhancing consistency and aesthetics across tumbling sections
  _layouts/tumble.html
  _notes/tumbling/index.md
  _sass/_style.scss
Labels: theme

Use theme color for all backgrounds
  _includes/link-previews.html
  _sass/_style.scss
Labels: theme

Use theme color for all backgrounds
  _includes/link-previews.html
  _sass/_style.scss
Labels: theme

Refactor styles to use CSS variables for improved consistency and aesthetics across tumbling sections
  _layouts/tumble.html
  _notes/tumbling/index.md
  _sass/_style.scss
Labels: theme

style: adopt Cambria and darken chip text
  _notes/tumbling/index.md
  _sass/_style.scss
Labels: theme

Use theme color for all backgrounds
  _includes/link-previews.html
  _sass/_style.scss
Labels: theme

Add tumble log template and flesh out first batch
  _tumble_logs/2025-08-21-batch-001.md
  _tumble_logs/batch-template.md
Labels: tumbling-log

Add support for rebase workflow and enhanced pull/push options in git_push.py
  git_push.py
Labels: none

Refactor headings for clarity by moving <h2> tags outside of divs in pre-tumble and post-tumble sections
  _layouts/tumble.html
Labels: theme

Refactor tumbling collection structure and templates
  _config.yml
  _includes/tumbles-table.html
  _notes/tumbling/2025-08-21-batch-001.md
  _notes/tumbling/batch-hello.md
  _notes/tumbling/batch-template.md
  _notes/tumbling/index.md
Labels: none

Remove batch template and update config to prevent publishing note templates
  _config.yml
  _notes/tumbling/batch-template.md
Labels: none

Remove batch-hello.md template to streamline tumbling notes
  _notes/tumbling/batch-hello.md
Labels: none

Update table header background color and increase base font size site-wide
  _sass/_style.scss
Labels: theme

Refactor status handling in tumbling layouts and styles for consistency
  _layouts/tumble.html
  _notes/tumbling/index.md
  _sass/_style.scss
Labels: theme

Refactor batch title display logic for consistency in tumbling index
  _notes/tumbling/2025-08-21-batch-001.md
  _notes/tumbling/index.md
Labels: none

Refactor internal link styles for improved visibility and consistency
  _includes/link-previews.html
  _plugins/bidirectional_links_generator.rb
  _sass/_style.scss
Labels: theme, plugins

Refactor internal link styles for improved readability and consistency
  _includes/link-previews.html
  _sass/_style.scss
Labels: theme

Update invalid link styles for improved readability and hover effects
  _plugins/bidirectional_links_generator.rb
  _sass/_style.scss
Labels: theme, plugins

Refactor link styles for improved consistency and readability
  _plugins/bidirectional_links_generator.rb
  _sass/_style.scss
Labels: theme, plugins

Refactor internal link styles for improved consistency and readability; update backlinks display for better integration
  _includes/link-previews.html
  _layouts/default.html
  _layouts/note.html
  _sass/_style.scss
Labels: theme

Add Tumbling Log Checklist and Admin Page for log creation and management
  _notes/tumbling/Tumbling Log Checklist.md
  _pages/admin/index.html
Labels: none

Update .gitignore to include _admin directory and remove Tumbling Log Checklist file
  .gitignore
  _notes/tumbling/Tumbling Log Checklist.md
Labels: none

eat(admin): add tumbling log builder; move checklist + redirects
  _pages/admin/index.html
  _pages/tumbling/log-checklist.html
  netlify.toml
Labels: none

Meh
  assets/tumbling/002/August 29, 2025/Library - 2 of 2.jpeg
  assets/tumbling/002/Home, August 21, 2025/Library - 1 of 2.jpeg
Labels: assets

Move admin structure outside of the site.
  _config.yml
  _pages/admin/index.html
  _pages/tumbling/log-checklist.html
  _pages/tumbling/log-checklist.md
  netlify.toml
Labels: none

Meh
  _notes/tumbling/index.md
Labels: none

Assets
  assets/tumbling/002/after-s1.jpg
  assets/tumbling/002/rough.jpg
Labels: assets

content
  _notes/tumbling/2025-08-21-batch-001.md
  assets/tumbling/001/after-s1-001.jpg
  assets/tumbling/001/after-s3-001.jpg
  assets/tumbling/001/after-s4-001.jpg
  assets/tumbling/001/rough-001.jpg
Labels: assets

feat(nav): add data-driven global navigation and update templates
  _data/navigation.yml
  _includes/nav.html
  _layouts/default.html
Labels: theme

feat(nav): horizontal menu with chess-piece dividers (6-piece cycle)
  _sass/_style.scss
Labels: theme

Reordered _data/navigation.yml so “Tumbling” precedes “About”.
  _data/navigation.yml
Labels: none

Override nav anchor styles to keep background: transparent for default and hover, overriding the global internal-link background.
  _sass/_style.scss
Labels: theme

feat(nav, notes): horizontal chess-divided nav; unify backlink styling; reduce nav noise
  _layouts/note.html
  _sass/_style.scss
Labels: theme

.github/labeler.yml:

docs:
  - '.bundle/CONTRIBUTING.md'
  - 'README.md'

tumbling-log:
  - '_tumble_logs/**'

assets:
  - 'assets/tumbling/**'

theme:
  - '_layouts/**'
  - '_sass/**'

plugins:
  - '_plugins/**'

ci:
  - '.github/workflows/**'
