Repository Chantal13/Spectrum-Syntax, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, tumbling-log, assets, theme, plugins, ci

.github/labeler.yml:

docs:
  - '.bundle/CONTRIBUTING.md'
  - 'README.md'

tumbling-log:
  - '_tumble_logs/**'

assets:
  - 'assets/tumbling/**'

theme:
  - '_layouts/**'
  - '_sass/**'

plugins:
  - '_plugins/**'

ci:
  - '.github/workflows/**'

feat(graph): explicit colours for rock classes (igneous/sedimentary/metamorphic) and improved link colouring
  _includes/notes_graph.html
  _plugins/bidirectional_links_generator.rb
Labels: plugins

refactor(rocks): update category links and add igneous/metamorphic/sedimentary index pages; track moved notes
  _notes/Games/Dark War Survival/Into the Forbidden Zone.md
  _notes/rockhounding/resources/Rockhounding Online.md
  _notes/rockhounding/rocks/igneous/granite.md
  _notes/rockhounding/rocks/metamorphic/gneiss.md
  _notes/rockhounding/rocks/metamorphic/unakite.md
  _notes/rockhounding/rocks/minerals/quartz/chalcedony/agate/agate.md
  _notes/rockhounding/rocks/sedimentary/breccia.md
  _notes/rockhounding/rocks/sedimentary/conglomerate.md
  _notes/rockhounding/rocks/sedimentary/limestone.md
  _pages/rockhounding/rocks/igneous/index.md
  _pages/rockhounding/rocks/index.md
  _pages/rockhounding/rocks/metamorphic/index.md
  _pages/rockhounding/rocks/sedimentary/index.md
Labels: none

chore(content): remove obsolete paths and uppercase Games directory remnants; update links accordingly
  _notes/Games/Dark War Survival/Guides/Into the Forbidden Zone.md
  _notes/Games/Dark War Survival/bed.md
  _notes/Games/Dark War Survival/coin generator.md
  _notes/Games/Dark War Survival/door.md
  _notes/Games/Dark War Survival/weapon.md
  _notes/Games/Dark War Survival/zombies.md
  _notes/Games/IDLE Champions/Events/Ahghairon’s Day 2025 – Cheatsheet.md
  _notes/Games/IDLE Champions/Events/Ahghairon’s Day 2025.md
  _notes/Games/IDLE Champions/IDLE Champions.md
  _notes/rockhounding/guides/Rockhounding Resources.md
  _notes/rockhounding/rocks/breccia.md
  _notes/rockhounding/rocks/category/igneous.md
  _notes/rockhounding/rocks/category/index.md
  _notes/rockhounding/rocks/category/metamorphic.md
  _notes/rockhounding/rocks/category/sedimentary.md
  _notes/rockhounding/rocks/conglomerate.md
  _notes/rockhounding/rocks/gneiss.md
  _notes/rockhounding/rocks/granite.md
  _notes/rockhounding/rocks/limestone.md
  _notes/rockhounding/rocks/minerals/agate.md
  _notes/rockhounding/rocks/unakite.md
Labels: none

chore(redirects): add Netlify redirects for rock category and moved rock pages
  netlify.toml
Labels: none

docs(readme): document rocks content structure and redirects; note graph colouring depends on paths
  README.md
Labels: docs

feat(links): support [[alias]] and [[alias|label]] in wiki links; add aliases for rock category pages
  _pages/rockhounding/rocks/igneous/index.md
  _pages/rockhounding/rocks/metamorphic/index.md
  _pages/rockhounding/rocks/sedimentary/index.md
  _plugins/bidirectional_links_generator.rb
Labels: plugins

Unpublish old note at /rockhounding/resources/Books to avoid path clash with Books page
  _notes/rockhounding/resources/Books.md
Labels: none

Books: add description excerpts and improve cover images (lazy, srcset); style description
  _includes/book-card.html
  _sass/_style.scss
Labels: theme

Books grid: force max two columns (responsive) and adjust image sizes for wider cards
  _includes/book-card.html
  _sass/_style.scss
Labels: theme

Rewrite rockhounding overview: clearer intro, card grid navigation, and quick links
  _notes/rockhounding/rockhounding-overview.md
  _pages/rockhounding/index.md
Labels: none

Rockhounding index: rewrite copy, add regional note, reorder cards
  _pages/rockhounding/index.md
Labels: none

Rocks index: group by type and render as cards
  _pages/rockhounding/rocks/index.md
Labels: none

Rock categories: switch to card grids for Igneous/Metamorphic/Sedimentary
  _pages/rockhounding/rocks/igneous/index.md
  _pages/rockhounding/rocks/metamorphic/index.md
  _pages/rockhounding/rocks/sedimentary/index.md
Labels: none

Minerals index: switch to card grid layout for consistency
  _pages/rockhounding/rocks/minerals/index.md
Labels: none

Add thumbnails to key rocks/minerals and URI-escape card images
  _includes/rock-card.html
  _notes/rockhounding/rocks/igneous/basalt.md
  _notes/rockhounding/rocks/igneous/granite.md
  _notes/rockhounding/rocks/metamorphic/gneiss.md
  _notes/rockhounding/rocks/metamorphic/unakite.md
  _notes/rockhounding/rocks/minerals/feldspar.md
  _notes/rockhounding/rocks/minerals/garnet.md
  _notes/rockhounding/rocks/minerals/jasper.md
  _notes/rockhounding/rocks/minerals/quartz.md
  _notes/rockhounding/rocks/sedimentary/breccia.md
  _notes/rockhounding/rocks/sedimentary/conglomerate.md
Labels: none

Thumbnails: generate WebP versions and prefer via <picture> with fallback
  _includes/rock-card.html
  assets/tumbling/coming_soon.webp
Labels: assets

Add missing WebP thumbnails with spaced filenames
  assets/Rockhound - 1 of 4.webp
  assets/Rockhound - 2 of 4.webp
  assets/Rockhound - 3 of 4.webp
  assets/Rockhound - 4 of 4.webp
  assets/tumbling/001/after-s1.webp
  assets/tumbling/001/after-s3.webp
  assets/tumbling/001/after-s4.webp
  assets/tumbling/001/rough.webp
  assets/tumbling/002/rough.webp
Labels: assets

Fix rock include syntax and update Netlify build
  _pages/rockhounding/index.md
  _pages/rockhounding/resources/books.md
  netlify.toml
Labels: none

fix: handle missing Goodreads data
  _pages/rockhounding/resources/books.md
Labels: none

docs: document tumbling checklist
  README.md
  _pages/tumbling/log-checklist.md
Labels: docs

Add password-protected admin page
  .gitignore
  _admin/index.html
Labels: none

Use Wikipedia images for rocks and add field log
  _includes/rock-card.html
  _layouts/field.html
  _notes/rockhounding/field-log/2025-01-15-granite-boulder.md
  _notes/rockhounding/rocks/igneous/obsidian.md
  _notes/rockhounding/rocks/igneous/rhyolite.md
  _notes/rockhounding/rocks/metamorphic/marble.md
  _notes/rockhounding/rocks/metamorphic/quartzite.md
  _notes/rockhounding/rocks/metamorphic/schist.md
  _notes/rockhounding/rocks/metamorphic/slate.md
  _notes/rockhounding/rocks/metamorphic/soapstone.md
  _notes/rockhounding/rocks/minerals/epidote.md
  _notes/rockhounding/rocks/minerals/quartz/amethyst.md
  _notes/rockhounding/rocks/minerals/quartz/aventurine.md
  _notes/rockhounding/rocks/minerals/quartz/chalcedony/agate/agate.md
  _notes/rockhounding/rocks/minerals/quartz/chalcedony/agate/coldwater-agate.md
  _notes/rockhounding/rocks/minerals/quartz/chalcedony/agate/index.md
  _notes/rockhounding/rocks/minerals/quartz/chalcedony/agate/lake-superior-agate.md
  _notes/rockhounding/rocks/minerals/quartz/chalcedony/fire-agate.md
  _notes/rockhounding/rocks/minerals/quartz/chalcedony/heliotrope.md
  _notes/rockhounding/rocks/minerals/quartz/chalcedony/index.md
  _notes/rockhounding/rocks/minerals/quartz/chalcedony/moss-agate.md
  _notes/rockhounding/rocks/minerals/quartz/chalcedony/onyx.md
  _notes/rockhounding/rocks/minerals/quartz/jasper/banded-jasper.md
  _notes/rockhounding/rocks/minerals/quartz/jasper/picture-jasper.md
  _notes/rockhounding/rocks/minerals/quartz/milky-quartz.md
  _notes/rockhounding/rocks/minerals/quartz/rose-quartz.md
  _notes/rockhounding/rocks/minerals/quartz/smoky-quartz.md
  _notes/rockhounding/rocks/minerals/quartz/tiger-eye.md
  _notes/rockhounding/rocks/sedimentary/banded-iron-formation.md
  _notes/rockhounding/rocks/sedimentary/chert.md
  _notes/rockhounding/rocks/sedimentary/limestone.md
  _notes/rockhounding/rocks/sedimentary/sandstone.md
  _notes/rockhounding/rocks/sedimentary/shale.md
  _pages/rockhounding/field-log/index.md
  _pages/rockhounding/index.md
  scripts/fetch_wiki_thumbnails.rb
Labels: theme

Fix mutable default argument in image path extraction
  scripts/check_assets.rb
Labels: none

Use HTML parser for site link checking
  scripts/check_site_links.py
Labels: none

Restrict ahead_behind exception handling
  git_push.py
  tests/test_git_push.py
Labels: none
