Repository Chantal13/Spectrum-Syntax, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, tumbling-log, assets, theme, plugins, ci

ci(labeler): pin actions/labeler to v5 commit (8558fd7)
  .github/workflows/labeler.yml
Labels: ci

ci(asset-sanity): pin ludeeus/action-shellcheck to commit 00cae5
  .github/workflows/asset-sanity.yml
Labels: ci

Admin guide
  _admin/Tumbling Log Checklist.md
  _admin/admin-guide.md
Labels: none

Fix test import path for git_push
  tests/test_git_push.py
Labels: none

Clarify Goodreads shelf generator error handling
  _plugins/goodreads_shelf.rb
Labels: plugins

Handle self-closing image tags
  scripts/check_site_links.py
Labels: none

Handle self-closing image tags
  scripts/check_site_links.py
Labels: none

Handle self-closing image tags
  scripts/check_site_links.py
Labels: none

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - '.bundle/CONTRIBUTING.md'
          - 'README.md'

tumbling-log:
  - changed-files:
      - any-glob-to-any-file:
          - '_tumble_logs/**'

assets:
  - changed-files:
      - any-glob-to-any-file:
          - 'assets/tumbling/**'

theme:
  - changed-files:
      - any-glob-to-any-file:
          - '_layouts/**'
          - '_sass/**'

plugins:
  - changed-files:
      - any-glob-to-any-file:
          - '_plugins/**'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
